{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale-1.0">
	<Title>Student Page Domain</Title>
	<script src="https://cdn.tailwindcss.com"></script>
	<style>
	     body {
		 background-color: #111827;
  	     }
  	     .footer {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 1rem;
          background-color: #fff568;
          text-align: center;
          color: black;
          }
	</style>
</head>
<body class="font-sans antialiased text-white">
    <div class="flex flex-col h-screen">
        <nav class="flex items-center justify-between p-4 border-b border-gray-800">
            <div class="text-white">
                <span class="font-bold text-x1">TEAM-ALERTS</span>
                <p>Student ID: {{ id }}</p>
            </div>
            <div class="spac-x-4">
                <a href="{% url 'SchedEvent:StudentDetailPage' id=id %}" class="text-gray-400 hover:text-white mr-4">Student-Details</a>
                <a href="{% url 'SchedEvent:ApplicationRoomPage' id=id %}" class="text-gray-400 hover:text-white mr-4">Apply-Room</a>
                <a href="{% url 'SchedEvent:SchedAnnouncePage' id=id %}" class="text-gray-400 hover:text-white mr-4">Schedule-Announcement</a>
                <a href="{% url 'SchedEvent:welcomepage' %}" class="text-gray-400 hover:text-white">LogOut</a>
            </div>
        </nav>
        <div class="flex-grow flex items-center justify-center p-4">
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md w-full">
                <h1 class="text-3xl font-bold mb-4">Real Time Clock (RTC)</h1>
                <p class="text-gray-400 mb-2" id="timeLabel"></p>
                <p class="text-gray-400 mb-2" id="dayLabel"></p>
                <p class="text-gray-400 mb-6" id="dateLabel"></p>

            </div>
        </div>
        <div class="flex-grow flex items-center justify-center ">
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md w-full">
                <h1 class="text-3xl font-bold mb-4">Student Domain Page</h1>
                <p class="text-gray-400 mb-6">Welcome! this is the Student TeamAlers.</p>
            </div>
        </div>
    </div>

    <script>
        function updateTime() {
            const now = new Date();
            const timeString = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
            const dayString = now.toLocaleDateString('en-US', { weekday: 'long' });
            const dateString = now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });

            document.getElementById('timeLabel').textContent = `Time: ${timeString}`;
            document.getElementById('dayLabel').textContent = `Day: ${dayString}`;
            document.getElementById('dateLabel').textContent = `Date: ${dateString}`;
        }

        updateTime();
        setInterval(updateTime, 1000);
    </script>
    <footer class="footer">
        <div class="container mx-auto px-4 text-center">
          &copy; 2024 CIT-U TeamAlers. All Rights Reserved.
        </div>
    </footer>
</body>
</html>